h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

h2, h3 {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}

.generatorImage {
  position: relative
  background-color: white;
  /* padding-left: 20%; */
  /* padding-bottom: 25%; */
}

.generatorImage .imgText {
  position: relative;
  top: -50px;
  color: black;
  background-color: white;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.generatorImage .imgCircle {
  width: 130px;
  height: 130px;
  padding: auto;
  background-color: transparent;
}

#generator {
  /* clear: both; */
  /* padding-left: 30%;
  padding-right: 30%; */
  background-color: transparent;
}

#wrapper ul{
  width: 100%;
  text-align: center;
  background-color: yellow;
}
#wrapper ul li{
  text-decoration: none;
  display: inline-block;
  width: 40%;
  text-align: center;
}

#wrapper a {
  text-align: center;
  width: 100%;
  text-align: center;
  background-color: yellow;
  padding: auto;
  display: inline-block;
  border: 1px solid black;
}

@media only screen and (min-width: 700px) {
  .generatorImage {
    background-color: transparent;
    /* width: 10%; */
    margin: 0.6% 0;
    padding: 1% 0.2%;
    display: inline-block;
    text-align: center;
    /* float: left; */
  }

  .generatorImage .imgText{
    display: block;
    position: relative;
    top: 0;
  }

  .generatorImage .imgCircle {
    width: 130px;
    height: 130px;
    padding: auto;
    background-color: transparent;
  }

  .imgText{
    font-size: 0.8rem;
  }

  #generator {
    margin: 0;
    padding: 0;
  }
}
