h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

h2, h3 {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}

.imgCircle {
  height: 100%;
  padding: 5px;
  background-color: white;
}

.imgText {
  color: black;
  background-color: white;
  text-align: center;
}

.generatorImage {
  background-color: white;
  height: 15%;
  /* padding-left: 20%; */
}

#generator {
  /* clear: both; */
  /* padding-left: 30%;
  padding-right: 30%; */
  background-color: white;
  height: 600px;
}

#wrapper ul{
  width: 100%;
  margin: 0;
  padding: 0;
}
#wrapper ul li{
  text-decoration: none;
  display: inline-block;
}

#wrapper a {
  text-align: center;
  background-color: yellow;
  padding: 10px auto;
  display: inline-block;
  border: 1px solid black;
}

@media only screen and (min-width: 700px) {
  .generatorImage {
    background-color: transparent;
    /* width: 10%; */
    margin: 0.6% 0;
    padding: 1% 0.2%;
    display: inline-block;
    text-align: center;
    /* float: left; */
  }

  .generatorImage img {
    width: 130px;
    height: 130px;
    padding: auto;
    background-color: transparent;
  }

  .imgText{
    font-size: 0.8rem;
  }

  #generator {
    margin: 0;
    padding: 0;
  }
}
